@use 'breakpoints' as *;

.card {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 15px 20px;

  @media (min-width: $breakpoint-md) {
    padding: 23px 42px 37px 31px;
  }
}

.card-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.card-body {
  font-size: 12px;
  line-height: 15px;
}

button.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 4px;
  padding: 20px;
  color: var(--text-header);
  transition: border-color var(--transition-duration) ease-in-out;

  @media (min-width: $breakpoint-md) {
    padding: 38px;
  }

  &:hover {
    border-color: var(--hover-border);
  }
}
