@use 'breakpoints' as *;

.sidebar {
  display: flex;
  justify-content: space-between;
  background: var(--background-body);
  border-bottom: 1px solid var(--border);

  @media (min-width: $breakpoint-sm) {
    position: fixed;
    padding: 8px 0 4px;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    left: 0;
    height: 100%;
    width: auto;
    flex-direction: column;
  }
}

.sidebar-top {
  display: flex;

  @media (min-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.sidebar-logo {
  width: 32px;
  height: 32px;

  // horizontally center the "rf" text in the RainFocus logo
  position: relative;
  left: 6px;
}

.sidebar-button {
  padding: 12px 14px;

  @media (min-width: $breakpoint-sm) {
    border-right: 1px solid transparent;
    transition: border-color var(--transition-duration) ease-in-out;

    &:hover {
      border-color: var(--hover-border);
    }
  }

  img {
    display: block;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}

.sidebar-user {
  background: var(--user-bg);
  color: var(--user-color);
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
